<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wireless Flasher</title>
    <script src="/static/js/socket.io.min.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<!-- Content Section -->
<div id="content">

    <!-- Box for Search Button and Device Select -->
    <div class="input-box">
        <h3>Search for Available Microcontrollers</h3>
        <div class="row-box">
            <button id="search-btn"><i class="fas fa-search"></i> Search</button>
            <select id="device-select">
                <option value="">--Select a Microcontroller--</option>
            </select>
        </div>
    </div>

    <br><br>
    <form id="uploadForm">

    <!-- Box for File Upload -->
    <div class="input-box">
        <h3>Upload Binary File</h3>
        <div class="row-box">
            <label for="file" class="btn-file">
                <i class="fas fa-upload"></i> Browse
            </label>
            <input type="file" name="file" id="file" required style="display:none;">
            <input type="text" id="file-name" readonly placeholder="No file chosen" />
        </div>
    </div>

    <br><br>

    <!-- Flash Options -->
    <h3>Flash Options</h3>
    <label>
        <input type="radio" name="flashOption" value="reset" checked>
        Reset
    </label>
    <label>
        <input type="radio" name="flashOption" value="no-reset">
        No Reset
    </label>

    <br><br>

    <!-- Hidden field to store the selected serial -->
    <input type="hidden" id="serial" name="serial">

    <!-- Upload File Button -->
    <input type="submit" class="upload-btn" value="Flash file" disabled>
    </form>

    <h3>Terminal Output</h3>
    <pre id="terminal"></pre>

</div>
<script src="/static/js/script.js"></script>
</body>
</html>

