<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wireless Flasher</title>
    <script src="/static/js/socket.io.min.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<!-- Password Modal -->
<!-- Content Section (hidden by default until password is entered) -->
<div id="content">
    
    <h3>Search for Available Microcontrollers</h3>
    <button id="search-btn">Search</button>

    <!-- Dropdown to display devices -->
    <br>
    <select id="device-select">
        <option value="">--Select a Microcontroller--</option>
    </select>

    <br><br>

    <h3>Upload Binary File</h3>

    <!-- File Upload Form -->
    <!--form method="POST" action="/upload" enctype="multipart/form-data" id="uploadForm"-->
    <form id="uploadForm">
        <input type="file" name="file" id="file" required>
        
        <!-- Hidden field to store the selected serial -->
        <input type="hidden" id="serial" name="serial">
        
        <br><br>


        <!-- Radio button for Reset or No-reset -->
        <h3>Flash Options</h3>
        <label>
            <input type="radio" name="flashOption" value="reset" checked>
            Reset
        </label>
        <label>
            <input type="radio" name="flashOption" value="no-reset">
            No Reset
        </label>
        
        <br><br>


        <!-- Upload File Button -->
	    <input type="submit" class="upload-btn" value="Flash file" style="background-color: #666; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: not-allowed;" disabled>
    </form>

    <h3>Terminal Output</h3>
    <pre id="terminal"></pre>

</div>
<script src="/static/js/script.js"></script>
</body>
</html>

