<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STM32 Flasher</title>
    <script src="/static/js/socket.io.min.js"></script>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/stm32.css">
</head>
<body>
    {% include 'partials/header.html' %}
<!-- Content Section -->
<div id="content">

    <!-- Box for Search Button and Device Select -->
    <div class="input-box">
        <h3>Search for Available Microcontrollers</h3>
        <div class="row-box">
            <button id="search-btn"><i class="fas fa-search"></i> Search</button>
            <select id="device-select">
                <option value="">--Select a Microcontroller--</option>
            </select>
        </div>
    </div>

    <br>
    <form id="uploadForm">

    <!-- Dropdown for Saved Files -->
    <div class="input-box">
        <h3>Select Binary File</h3>
        <div class="row-box">
            <select id="file-select" name="filename">
                <option value="">--Select a Saved File--</option>
            </select>
        </div>
    </div>

    <br>

    <!-- Flash Options -->
    <h3>Flash Options</h3>
    <label>
        <input type="radio" name="flashOption" value="reset" checked>
        Reset
    </label>
    <label>
        <input type="radio" name="flashOption" value="no-reset">
        No Reset
    </label>

    <br>

    <!-- Hidden field to store the selected serial -->
    <input type="hidden" id="serial" name="serial">
    <input type="hidden" id="sid" name="sid">

    <!-- Upload File Button -->
    <input type="submit" class="upload-btn" value="Flash file" disabled>
    </form>

    <div class="terminal-container">
        <div class="terminal-header">
            <h3>Terminal Output</h3>
            <button id="clear-btn" class="clear-btn">Clear Screen</button>
        </div>
        <pre id="terminal"></pre>
    </div>

</div>
<script src="/static/js/script.js"></script>
</body>
</html>

